
            .container-xl {
                max-width: 1280px;
                margin-left: auto;
                margin-right: auto;
                padding-left: 16px;
                padding-right: 16px;
            }
        
            .article-container { 
                margin-top: 6.4rem; 
                margin-bottom: 6.4rem;
            }
        
            .article h1 { 
                color: #08162C;
                font-size: 64px;
                line-height: 1;
                font-weight: normal;
                margin-bottom: 16px;
            }
        
            .article h2 { 
                color: #08162C;
                font-size: 32px;
                line-height: 40px;
                font-weight: normal;
                margin-bottom: 16px;
                margin-top: 4.8rem;
            }
        
            .article h3 { 
                color: #08162C;
                font-size: 24px;
                line-height: 32px;
                font-weight: normal;
                margin-bottom: 16px;
                margin-top: 2.4rem;
            }
        
            .article p { 
                color: #08162C;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 1.6rem;
            }
        
            .article ul { 
                margin-left: 1.6rem;
            }
        
            .article li { 
                margin-bottom: 0.8rem;
            }
        
            .article table { 
                border-collapse: collapse; 
                border:1px solid #08162C;
            }
        
            .article table td { 
                border: 1px solid #08162C;
                padding: 0.8rem;
            }
        
            .article table th { 
                border: 1px solid #08162C;
                padding: 0.8rem;
            }
        