
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: inter-regular, sans-serif;
        color: #08162C;
        font-size: 16px;
        line-height: 24px;
    }

    img {
        width: 100%;
    }

            .link_fill_reverse {
                color: #08162C;
                background-color: #ffffff;
                border: 1px solid #ffffff;
                border-radius: 9999px;
                padding: 8px 16px;
                text-decoration-line: none;
            }
        
            .link_ghost_reverse {
                color: #ffffff; 
                border: 1px solid #ffffff;
                border-radius: 9999px; 
                padding: 8px 16px; 
                text-decoration-line: none;
            }
        
            .h2_default {
                color: #08162C;
                font-size: 32px;
                line-height: 40px;
                font-weight: normal;
                margin-bottom: 16px;
            }
        
            .paragraph_default {
                color: #08162C;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 1.6rem;
            }
        
            .suptitle_default {
                color: #53BED6;
                font-size: 16px;
                line-height: 16px;
                font-weight: normal;
                margin-bottom: 16px;
            }
        
            .h3_default {
                color: #08162C;
                font-size: 24px;
                line-height: 32px;
                font-weight: normal;
                margin-bottom: 16px;
            }
        
            .card_default_1 {
                background-color: #F8F9FB; 
                padding: 32px; 
                border-radius: 16px;
            }
        
            .card_default {
                background-color: #F8F9FB; 
                padding: 32px; 
                border-radius: 16px;
            }
        
            .header-dark {
                background-color: #08162C;
                padding-top: 16px;
                padding-bottom: 16px;
            }
        
            .container-xl {
                max-width: 1280px;
                margin-left: auto;
                margin-right: auto;
                padding-left: 16px;
                padding-right: 16px;
            }
        
            .header-dark-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        
            .header-dark-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 32px;
            }
        
            .header-dark-menu-logo {
                font-size: 24px;
                color: #ffffff;
                text-decoration-line: none;
            }
        
            .header-dark-menu-nav {
                display: flex;
                align-items: center;
                gap: 16px;
            }
        
            .header-dark-menu-nav a {
                color: #ffffff;
                text-decoration-line: none;
            }
        
            .home-hero-section {
                background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/immagini/home/sanificazione-ozono.png');
                background-size: cover;
                background-position: center;
                margin-bottom: 96px;
                border-bottom-left-radius: 16px;
                border-bottom-right-radius: 16px;
            }
        
            .home-hero-container {
                padding-top: 128px;
                display: flex;
                padding-bottom: 128px;
                flex-direction: column;
                justify-content: center;
                height: 80%;
            }
        
            .home-hero-title-container {
                display: flex;
                margin-bottom: 64px;
                gap: 64px;
            }
        
            .home-hero-title-text {
                font-size: 64px;
                color: white;
                line-height: 1;
                font-weight: normal;
            }
        
            .home-hero-content-container {
                display: flex;
            }
        
            .home-hero-content-container a {
                text-decoration-line: none;
                display: inline-block;
            }
        
            .home-hero-content-button {
                color: #08162C;
                background-color: #ffffff;
                border: 1px solid #ffffff;
                border-radius: 9999px;
                padding: 8px 16px;
                text-decoration-line: none;
            }
        
            .home-proof-section {
                display: flex;
                gap: 24px;
                align-items: center;
            }
        
            .home-proof-section img {
                flex: 1;
                opacity: 66%;
            }
        
            .separator-section {
                margin-top: 96px;
                margin-bottom: 96px;
            }
        
            .separator-layout {
                display: flex;
                align-items: center;
            }
        
            .separator-text {
                font-size: 16px;
                font-weight: normal;
                line-height: 24px;
                color: #B0BEC5;
                padding: 6px 12px;
                border-radius: 9999px;
                border: 1px solid #B0BEC5;
            }
        
            .separator-line {
                border-bottom: 1px solid #B0BEC5;
                width: 90%;
            }
        
            .home-benefits-intro-container {
                display: flex;
                align-items: center;
                gap: 48px;
                margin-bottom: 32px;
            }
        
            .home-benefits-intro-title {
                color: #08162C;
                font-size: 32px;
                line-height: 40px;
                font-weight: normal;
            }
        
            .home-benefits-cards-container {
                display: flex;
                gap: 24px;
            }
        
            .home-benefits-card-container {
                background-color: #F8F9FB;
                border-radius: 16px;
                padding: 16px;
            }
        
            .home-benefits-card-title {
                margin-bottom: 16px;
                color: #08162C;
                font-size: 24px;
                line-height: 1.2;
                font-weight: normal;
            }
        
            .home-benefits-card-link {
                color: #08162C;
                text-decoration-line: none;
            }
        
            .home-benefits-card-icon {
                height: 24px;
            }
        
            .home-services-intro-container {
                max-width: 768px;
                margin-right: auto;
                margin-left: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 32px;
            }
        
            .home-services-cards-container {
                display: flex;
                gap: 24px;
                margin-bottom: 32px;
            }
        
            .home-services-card-offset {
                display: flex;
                flex-direction: column;
                gap: 24px;
                margin-top: 48px;
            }
        
            .home-services-buttons-container {
                display: flex;
                gap: 24px;
            }
        
            .home-industries-cards-container { 
                display: flex;
                gap: 24px;
                margin-bottom: 24px;
            }
        