
            @media screen and (max-width: 768px) {
                .header-dark-container {
                    flex-direction: column;
                    text-align: center;
                }
            }
        
            @media screen and (max-width: 768px) {
                .header-dark-menu {
                    flex-direction: column;
                    text-align: center;
                }
            }
        
            @media screen and (max-width: 768px) {
                .home-hero-header-button {
                    display: none;
                }
            }
        
            @media screen and (max-width: 768px) {
                .home-hero-container {
                    padding-top: 96px;
                    padding-bottom: 96px;
                    height: auto;
                }
            }
        
            @media screen and (max-width: 768px) {
                .home-hero-title-container {
                    flex-direction: column;
                    margin-bottom: 0px;
                    gap: 16px;
                }
            }
        
            @media screen and (max-width: 768px) {
                .home-hero-content-container {
                    flex-direction: column;
                    text-align: center;
                }
            }
        
            @media screen and (max-width: 768px) {
                .home-hero-buttons-container {
                    flex-direction: column;
                }
            }
        
            @media screen and (max-width: 768px) {
                .home-proof-section {
                    flex-direction: column;
                    gap: 16px;
                }
            }
        
            @media screen and (max-width: 768px) {
                .home-proof-section img {
                    width: 240px;
                    opacity: 50%;
                }
            }
        
            @media screen and (max-width: 768px) {
                .home-benefits-cards-container {
                    flex-direction: column;
                }
            }
        
            @media screen and (max-width: 768px) {
                .home-services-cards-container {
                    flex-direction: column;
                }
            }
        
            @media screen and (max-width: 768px) {
                .home-services-card-offset {
                    margin-top: 0;
                }
            }
        
            @media screen and (max-width: 768px) {
                .home-industries-cards-container {
                    flex-direction: column;
                }
            }
        
            @media screen and (max-width: 768px) {
                .home-about-intro-container {
                    flex-direction: column;
                }
            }
        
            @media screen and (max-width: 768px) {
                .home-about-images-container {
                    flex-direction: column;
                }
            }
        
            @media screen and (max-width: 768px) {
                .home-contact-intro-container {
                    flex-direction: column;
                    gap: 0;
                }
            }
        
            @media screen and (max-width: 768px) {
                .home-contact-intro-content {
                    flex-direction: column;
                    gap: 0;
                }
            }
        
            @media screen and (max-width: 768px) {
                .home-contact-cta-container {
                    flex-direction: column;
                    gap: 1.6rem;
                }
            }
        
            @media screen and (max-width: 768px) {
                .home-contact-cta-buttons {
                    flex-direction: column;
                }
            }
        
            @media screen and (max-width: 768px) {
                .home-footer-intro-container {
                    flex-direction: column;
                    gap: 32px;
                }
            }
        
            @media screen and (max-width: 768px) {
                .home-footer-copyright-container {
                    flex-direction: column;
                    gap: 16px;
                }
            }
        
            @media screen and (max-width: 768px) {
                .header-light-container {
                    flex-direction: column;
                    text-align: center;
                }
            }
        
            @media screen and (max-width: 768px) {
                .header-light-menu {
                    flex-direction: column;
                    text-align: center;
                }
            }
        