
            .link_fill_reverse {
                color: #08162C;
                background-color: #ffffff;
                border: 1px solid #ffffff;
                border-radius: 9999px;
                padding: 8px 16px;
                text-decoration-line: none;
            }
        
            .h1_reverse {
                color: #ffffff;
                font-size: 64px;
                line-height: 1;
                font-weight: normal;
            }
        
            .link_ghost_reverse {
                color: #ffffff; 
                border: 1px solid #ffffff;
                border-radius: 9999px; 
                padding: 8px 16px; 
                text-decoration-line: none;
            }
        
            .h2_default {
                color: #08162C;
                font-size: 32px;
                line-height: 40px;
                font-weight: normal;
                margin-bottom: 16px;
            }
        
                .align_left {
                    text-align: left;
                }
            
            .paragraph_default {
                color: #08162C;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 1.6rem;
            }
        
            .suptitle_default {
                color: #53BED6;
                font-size: 16px;
                line-height: 16px;
                font-weight: normal;
                margin-bottom: 16px;
            }
        
            .h3_default {
                color: #08162C;
                font-size: 24px;
                line-height: 32px;
                font-weight: normal;
                margin-bottom: 16px;
            }
        
            .icon_default {
                height: 24px;
            }
        
            .link_default {
                color: #08162C;
                text-decoration-line: none;
            }
        
                .align_center {
                    text-align: center;
                }
            
            .h2_reverse {
                color: #ffffff;
                font-size: 32px;
                line-height: 40px;
                font-weight: normal;
                margin-bottom: 16px;
            }
        
            .paragraph_reverse {
                color: #ffffff;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 1.6rem;
            }
        
            .button_fill_reverse {
                background-color: #ffffff;
                border: 1px solid #ffffff;
                border-radius: 9999px;
                padding: 8px 16px;
                display: flex;
                justify-content: center; 
                gap: 8px; 
            }
        
            .button_fill_reverse a {
                color: #08162C;
                text-decoration-line: none;
            }
        
            .button_ghost_reverse {
                border: 1px solid #ffffff;
                border-radius: 9999px; 
                padding: 8px 16px; 
                display: flex;
                justify-content: center; 
                gap: 8px; 
            }
        
            .button_ghost_reverse a {
                color: #ffffff;
                text-decoration-line: none;
            }
        
            .link_reverse {
                color: #ffffff;
                text-decoration-line: none;
            }
        
            .link_fill {
                color: #ffffff;
                background-color: #08162C;
                border: 1px solid #08162C;
                border-radius: 9999px;
                padding: 8px 16px;
                text-decoration-line: none;
            }
        
            .h1_default {
                color: #08162C;
                font-size: 64px;
                line-height: 1;
                font-weight: normal;
                margin-bottom: 16px;
            }
        
            .list_ordered_default {
                color: #08162C;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 1.6rem;
                margin-left: 1.6rem;
                display: flex;
                flex-direction: column;
                gap: 0.4rem;
            }
        
                .margin_bottom_0 {
                    margin-bottom: 0;
                }
            