
            .link_fill_reverse {
                color: #08162C;
                background-color: #ffffff;
                border: 1px solid #ffffff;
                border-radius: 9999px;
                padding: 8px 16px;
                text-decoration-line: none;
            }
        
            .link_ghost_reverse {
                color: #ffffff; 
                border: 1px solid #ffffff;
                border-radius: 9999px; 
                padding: 8px 16px; 
                text-decoration-line: none;
            }
        
            .h2_default {
                color: #08162C;
                font-size: 32px;
                line-height: 40px;
                font-weight: normal;
                margin-bottom: 16px;
            }
        
            .paragraph_default {
                color: #08162C;
                font-size: 16px;
                line-height: 24px;
            }
        