
            .container-xl {
                max-width: 1200px;
                margin-left: auto;
                margin-right: auto;
                padding-left: 16px;
                padding-right: 16px;
            }
        
            .container-lg {
                max-width: 992px;
                margin-left: auto;
                margin-right: auto;
                padding-left: 16px;
                padding-right: 16px;
            }
        
            .container-md {
                max-width: 768px;
                margin-left: auto;
                margin-right: auto;
                padding-left: 16px;
                padding-right: 16px;
            }
        
            .container-sd {
                max-width: 576px;
                margin-left: auto;
                margin-right: auto;
                padding-left: 16px;
                padding-right: 16px;
            }
        
            .article-h1 {
                color: #202124;
                font-size: 48px;
                line-height: 52px;
                font-weight: normal;
                margin-top: 48px;
                margin-bottom: 16px;
                text-align: center;
            }
        
            .article-h2 {
                color: #202124;
                font-size: 32px;
                line-height: 40px;
                font-weight: normal;
                margin-bottom: 16px;
                margin-top: 48px;
            }
        
            .article-p {
                color: #5f6368;
                margin-bottom: 16px;
                font-size: 16px;
                line-height: 24px;
            }
        
            .article-ul {
                padding-left: 32px;
                margin-bottom: 16px;
            }
        
            .article-li {
                color: #5f6368;
                margin-bottom: 8px;
                font-size: 16px;
                line-height: 24px;
            }
        
            .article-img {
                width: 100%;
                height: 480px;
                object-fit: cover;
                object-position: center;
                border-radius: 8px;
                margin: 0;
                padding: 0;
                margin-bottom: 16px;
            }
        
            .article-date {
                color: #5f6368;
                margin-bottom: 8px;
                font-size: 12px;
                line-height: 16px;
                text-transform: uppercase;
                font-weight: bold;
                text-align: center;
            }
        
            .article-author {
                color: #5f6368;
                margin-bottom: 32px;
                font-size: 12px;
                line-height: 16px;
                text-transform: uppercase;
                font-weight: bold;
                text-align: center;
            }
        