
            .header-light {
                background-color: #ffffff;
                padding-top: 16px;
                padding-bottom: 16px;
            }
        
            .container-xl {
                max-width: 1280px;
                margin-left: auto;
                margin-right: auto;
                padding-left: 16px;
                padding-right: 16px;
            }
        
            .header-light-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        
            .header-light-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 32px;
            }
        
            .header-light-menu-logo {
                font-size: 24px;
                color: #08162C;
                text-decoration-line: none;
            }
        
            .header-light-menu-nav {
                display: flex;
                align-items: center;
                gap: 16px;
            }
        
            .header-light-menu-nav a {
                color: #08162C;
                text-decoration-line: none;
            }
        
            .header-light-button {
                color: #ffffff;
                background-color: #08162C;
                border: 1px solid #08162C;
                border-radius: 9999px;
                padding: 8px 16px;
                text-decoration-line: none;
            }
        
            .header-light {
                background-color: #ffffff;
                padding-top: 16px;
                padding-bottom: 16px;
            }
        
            .container-xl {
                max-width: 1280px;
                margin-left: auto;
                margin-right: auto;
                padding-left: 16px;
                padding-right: 16px;
            }
        
            .header-light-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        
            .header-light-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 32px;
            }
        
            .header-light-menu-logo {
                font-size: 24px;
                color: #08162C;
                text-decoration-line: none;
            }
        
            .header-light-menu-nav {
                display: flex;
                align-items: center;
                gap: 16px;
            }
        
            .header-light-menu-nav a {
                color: #08162C;
                text-decoration-line: none;
            }
        
            .header-light-button {
                color: #ffffff;
                background-color: #08162C;
                border: 1px solid #08162C;
                border-radius: 9999px;
                padding: 8px 16px;
                text-decoration-line: none;
            }
        
            .header-dark {
                background-color: #08162C;
                padding-top: 16px;
                padding-bottom: 16px;
            }
        
            .header-dark-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        
            .header-dark-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 32px;
            }
        
            .header-dark-menu-logo {
                font-size: 24px;
                color: #ffffff;
                text-decoration-line: none;
            }
        
            .header-dark-menu-nav {
                display: flex;
                align-items: center;
                gap: 16px;
            }
        
            .header-dark-menu-nav a {
                color: #ffffff;
                text-decoration-line: none;
            }
        
            .header-dark-button {
                color: #08162C;
                background-color: #ffffff;
                border: 1px solid #ffffff;
                border-radius: 9999px;
                padding: 8px 16px;
                text-decoration-line: none;
            }
        