
            .container-xl {
                max-width: 1280px;
                margin-left: auto;
                margin-right: auto;
                padding-left: 16px;
                padding-right: 16px;
            }
        
            .header-dark {
                background-color: #08162C;
                padding-top: 16px;
                padding-bottom: 16px;
            }
        
            .header-dark-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1.6rem;
            }
        
            .header-dark-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1.6rem;
            }
        
            .header-dark-menu-logo {
                font-size: 24px;
                color: #ffffff;
                text-decoration-line: none;
            }
        
            .header-dark-menu-nav {
                display: flex;
                align-items: center;
                gap: 16px;
            }
        
            .header-dark-menu-nav a {
                color: #ffffff;
                text-decoration-line: none;
            }
        
            .home-hero-section {
                background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/immagini/home/sanificazione-ozono.png');
                background-size: cover;
                background-position: center;
                margin-bottom: 96px;
                border-bottom-left-radius: 16px;
                border-bottom-right-radius: 16px;
            }
        
            .home-hero-container {
                padding-top: 128px;
                display: flex;
                padding-bottom: 128px;
                flex-direction: column;
                justify-content: center;
                height: 80%;
            }
        
            .home-hero-title-container {
                display: flex;
                margin-bottom: 64px;
                gap: 64px;
            }
        
            .home-hero-content-container {
                display: flex;
            }
        
            .home-hero-buttons-container {
                display: flex;
                gap: 24px;
            }
        
            .home-proof-section {
                display: flex;
                gap: 24px;
                align-items: center;
            }
        
            .home-proof-section img {
                flex: 1;
                opacity: 66%;
            }
        
            .separator-section {
                margin-top: 96px;
                margin-bottom: 96px;
            }
        
            .separator-layout {
                display: flex;
                align-items: center;
            }
        
            .separator-text {
                font-size: 16px;
                font-weight: normal;
                line-height: 24px;
                color: #B0BEC5;
                padding: 6px 12px;
                border-radius: 9999px;
                border: 1px solid #B0BEC5;
            }
        
            .separator-line {
                border-bottom: 1px solid #B0BEC5;
                width: 90%;
            }
        
            .home-benefits-intro-container {
                display: flex;
                align-items: center;
                gap: 48px;
                margin-bottom: 32px;
            }
        
            .home-benefits-cards-container {
                display: flex;
                gap: 24px;
            }
        
            .home-services-intro-container {
                max-width: 768px;
                margin-right: auto;
                margin-left: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 32px;
            }
        
            .home-services-cards-container {
                display: flex;
                gap: 24px;
                margin-bottom: 32px;
            }
        
            .home-services-card-offset {
                display: flex;
                flex-direction: column;
                gap: 24px;
                margin-top: 48px;
            }
        
            .home-industries-cards-container { 
                display: flex;
                gap: 24px;
                margin-bottom: 24px;
            }
        
            .home-about-intro-container { 
                display: flex;
                align-items: center;
                gap: 32px;
            }
        
            .home-about-images-container { 
                display: flex;
                align-items: center;
                gap: 32px;
            }
        
            .home-contact-intro-container {
                display: flex;
                gap: 96px;
                margin-bottom: 32px;
                align-items: center;
            }
        
            .home-contact-intro-title {
                font-size: 48px;
                line-height: 56px;
                color: #ffffff;
            }
        
            .home-contact-intro-content {
                display: flex;
                gap: 24px;
            }
        
            .home-contact-cta-container {
                display: flex;
                gap: 96px;
            }
        
            .home-contact-cta-buttons {
                display: flex;
                gap: 8px;
            }
        
            .home-footer-container {
                background-color: #08162C;
                padding-top: 96px;
                padding-bottom: 96px;
            }
        
            .home-footer-intro-container {
                display: flex;
                justify-content: space-between;
                margin-bottom: 64px;
            }
        
            .home-footer-nav {
                display: flex;
                flex-direction: column;
                gap: 0.8rem;
            }
        
            .home-footer-copyright-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        
            .header-light {
                background-color: #ffffff;
                padding-top: 16px;
                padding-bottom: 16px;
            }
        
            .header-light-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        
            .header-light-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 32px;
            }
        
            .header-light-menu-logo {
                font-size: 24px;
                color: #08162C;
                text-decoration-line: none;
            }
        
            .header-light-menu-nav {
                display: flex;
                align-items: center;
                gap: 16px;
            }
        
            .header-light-menu-nav a {
                color: #08162C;
                text-decoration-line: none;
            }
        
            .chi-siamo-hero-container { 
                margin-top: 6.4rem; 
                margin-bottom: 6.4rem;
            }
        
            .contact-hero-container { 
                margin-top: 6.4rem; 
                margin-bottom: 6.4rem;
            }
        
            .contact-hero-content-container { 
                display: flex;
                gap: 96px;
            }
        