:root {
    --ds-theme-color-content-default: #212121;
    --ds-theme-color-content-default-hover: #757575;
    --ds-theme-color-content-subtle: #757575;
    --ds-theme-color-content-knockout: #ffffff;
    --ds-theme-color-content-brand-hover: #5d4037;
    --ds-theme-color-content-brand: #3e2723;
    --ds-theme-color-content-disabled: #9e9e9e;
    --ds-theme-button-color-content-default: #3e2723;
    --ds-theme-button-color-background-default: #efebe9;
    --ds-theme-button-color-border-default: #3e2723;
}

.ds-c-heading {
    color: var(--ds-theme-color-content-brand);
}

.ds-c-paragraph {
    color: var(--ds-theme-color-content-default);
}

.ds-c-button {
    color: var(--ds-theme-button-color-content);
    background-color: var(--ds-theme-button-color-background);
    border: 1px solid var(--ds-theme-button-color-border);
    padding: 8px 16px;
    text-decoration-line: none;
}
