:root {
    --color-blue: #327cfa;
    --color-blue-navy: #1E3A8A;
    --color-blue-cobalt: #2563EB;

}

@font-face {
    font-family: 'inter-regular';
    src: url('/assets/Inter/static/Inter_18pt-Regular.ttf');
}

@font-face {
    font-family: 'inter-medium';
    src: url('/assets/Inter/static/Inter_18pt-Medium.ttf');
}

@font-face {
    font-family: 'inter-bold';
    src: url('/assets/Inter/static/Inter_18pt-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter-regular {
    font-family: inter-regular;
    font-weight: normal;
}

.font-inter-medium {
    font-family: inter-medium;
    font-weight: normal;
}

.font-inter-bold {
    font-family: inter-bold;
    font-weight: normal;
}

body {
    font-family: inter-regular, sans-serif;
    /* font-family: sans-serif; */
    color: #555555;
    font-size: 1rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

.container-xl {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.container-lg {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.container-md {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.container-sm {
    max-width: 576px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

h1 {
    font-family: inter-bold;
    font-weight: normal;
}

h2 {
    font-family: inter-bold;
    font-weight: normal;
    font-size: 3.0rem;
    color: #111111;
}

h3 {
    font-family: inter-bold;
    font-weight: normal;
    font-size: 2.0rem;
    color: #111111;
}

p {
    font-family: inter-regular;
    font-weight: normal;
    font-size: 1.125rem;
    color: #111111;
}

.h2_default {
    color: #222222;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

.card_default_1 {
    background-color: #f8f9fb;
    padding: 32px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_3_default {
    background-color: #f8f9fb;
    border-radius: 1.6rem;
    padding: 1.6rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.suptitle_default {
    color: blue;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: normal;
    margin-bottom: 16px;
}

.image_sm_default {
    height: 20rem;
    border-radius: 1rem;
    object-fit: cover;
}

.card_default {
    background-color: #f8f9fb;
    padding: 32px;
    border-radius: 16px;
}

.button-square-default-accent {
    display: inline-block;
    color: white;
    background-color: var(--color-blue-cobalt);
    padding: 0.75rem 1.5rem;
}

.button-invert {
    display: inline-block;
    color: #222222;
    background-color: #f8f9fc;
    padding: 0.5rem 1.0rem;
    border-radius: 9999px;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.button-invert-ghost {
    display: inline-block;
    color: #ffffff;
    padding: 0.5rem 1.0rem;
    border: 1px solid #ffffff;
    border-radius: 9999px;
    transition: all 0.2s;
    display: flex;
    align-items: center;
}


.button-default-1 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #1f1f1f;
    background-color: #f8f9fc;
    padding: 0.75rem 2.0rem;
    border-radius: 9999px;
    transition: all 0.2s;
}

.button-default-2 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #1f1f1f;
    background-color: #f8f9fc;
    padding: 0.5rem 1.0rem;
    border-radius: 9999px;
    transition: all 0.2s;
}

.button-default-3 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #ffffff;
    background-color: #1f1f1f;
    padding: 0.5rem 1.0rem;
    border-radius: 9999px;
    transition: all 0.2s;
}


/* **************************************** */
/* HEADER                                   */
/* **************************************** */

.header-button {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: #222222;
    background-color: #f8f9fc;
    padding: 0.5rem 1.0rem;
    border-radius: 9999px;
    transition: all 0.2s;
}

.header-button:hover {
    background-color: #f4f5f9;
}

/* Navbar Container */

.navbar-light {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    color: #222222;
    padding: 1rem 1.5rem;
    position: relative;
}

.navbar-light .logo {
    font-size: 1.25rem;
    font-weight: normal;
}

.navbar-light .menu-icon span {
    height: 3px;
    background: #222222;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.navbar-light .menu a {
    text-decoration: none;
    color: #222222;
    font-weight: 500;
    transition: color 0.2s;
}

/* Responsive Menu */
@media (max-width: 768px) {
    .header-button {
        display: none;
    }

    .navbar-light .menu-icon {
        display: flex;
    }

    .navbar-light .menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #ffffff;
        flex-direction: column;
        align-items: center;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }

    /* Toggle menu visibility */
    .navbar-light .menu-toggle:checked~.menu {
        max-height: 300px;
    }

    /* Animate hamburger into X */
    .navbar-light .menu-toggle:checked+.menu-icon span:nth-child(1) {
        transform: rotate(45deg) translateY(8px);
    }

    .navbar-light .menu-toggle:checked+.menu-icon span:nth-child(2) {
        opacity: 0;
    }

    .navbar-light .menu-toggle:checked+.menu-icon span:nth-child(3) {
        transform: rotate(-45deg) translateY(-8px);
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    color: white;
    padding: 1rem 1.5rem;
    position: relative;
}

.logo {
    font-size: 1.4rem;
    font-weight: bold;
}

/* Hide checkbox */
.menu-toggle {
    display: none;
}

/* Hamburger Icon */
.menu-icon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
    cursor: pointer;
}

.menu-icon span {
    height: 3px;
    background: white;
    border-radius: 3px;
    transition: all 0.3s ease;
}

/* Menu Links */
.menu {
    list-style: none;
    display: flex;
    gap: 0.25rem;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: all 0.2s;
    padding: 0.5rem 1.0rem;
    border-radius: 9999px;
}

.menu a:hover {
    background-color: #f4f5f9;
}

/* Responsive Menu */
@media (max-width: 768px) {
    .menu-icon {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #222;
        flex-direction: column;
        align-items: center;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }

    /* Toggle menu visibility */
    .menu-toggle:checked~.menu {
        max-height: 300px;
    }

    /* Animate hamburger into X */
    .menu-toggle:checked+.menu-icon span:nth-child(1) {
        transform: rotate(45deg) translateY(8px);
    }

    .menu-toggle:checked+.menu-icon span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle:checked+.menu-icon span:nth-child(3) {
        transform: rotate(-45deg) translateY(-8px);
    }
}

/* **************************************** */
/* FOOTER                                     */
/* **************************************** */
footer h2,
footer p,
footer a {
    color: #ffffff;
    text-decoration: none;
}

footer h2 {
    margin-bottom: 1rem;
}

.home-footer-container {
    background-color: #222222;
    padding-top: 6rem;
    padding-bottom: 6rem;

}

.home-footer-intro-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.home-footer-nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.home-footer-copyright-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .home-footer-intro-container {
        flex-direction: column;
        gap: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .home-footer-copyright-container {
        flex-direction: column;
        gap: 1rem;
    }
}

/* **************************************** */
/* GRID                                     */
/* **************************************** */

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
}

@media screen and (max-width: 768px) {
    .grid-2 {
        grid-template-columns: repeat(1, 1fr);
    }
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 768px) {
    .grid-3 {
        grid-template-columns: repeat(1, 1fr);
    }
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.6rem;
}

@media screen and (max-width: 768px) {
    .grid-4 {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* **************************************** */
/* COMPONENTS                               */
/* **************************************** */
.link_fill_reverse {
    display: inline-block;
    color: #222222;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 9999px;
    padding: 8px 16px;
    text-decoration-line: none;
}

.link_ghost_reverse {
    display: inline-block;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 9999px;
    padding: 8px 16px;
    text-decoration-line: none;
}


/* **************************************** */
/* HOME                                     */
/* **************************************** */
.home-hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/immagini/sanificazione-ozono.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 96px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.home-hero-container {
    padding-top: 128px;
    display: flex;
    padding-bottom: 128px;
    flex-direction: column;
    justify-content: center;
    height: 80%;
}

.home-hero-title-container {
    display: flex;
    margin-bottom: 64px;
    gap: 64px;
}

.home-hero-title-container h1 {
    color: #ffffff;
    font-size: 4rem;
    line-height: 1;
}

.home-hero-content-container {
    display: flex;
}

.home-hero-buttons-container {
    display: flex;
    gap: 24px;
}

@media screen and (max-width: 768px) {
    .home-hero-container {
        padding-top: 96px;
        padding-bottom: 96px;
        height: auto;
    }

    .home-hero-title-container {
        flex-direction: column;
        margin-bottom: 0px;
        gap: 16px;
    }

    .home-hero-content-container {
        flex-direction: column;
        text-align: center;
    }

    .home-hero-buttons-container {
        flex-direction: column;
    }
}

.home-services-intro-container {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

.home-services-cards-container {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
}

.home-services-card-offset {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 48px;
}

@media screen and (max-width: 768px) {
    .home-services-cards-container {
        flex-direction: column;
    }

    .home-services-card-offset {
        margin-top: 0;
    }
}

.home-industries-cards-container {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
    .home-industries-cards-container {
        flex-direction: column;
    }
}

.h2-reverse {
    color: #ffffff;
    font-size: 3rem;
    line-height: 1;
    font-weight: normal;
    margin-bottom: 16px;
}

.contact_reverse {
    display: flex;
    gap: 8px;
}

.contact_reverse p {
    color: #ffffff;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 16px;
}

.button_fill_reverse {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 9999px;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.button_fill_reverse a {
    color: #222222;
    text-decoration-line: none;
}

.button_ghost_reverse {
    border: 1px solid #ffffff;
    border-radius: 9999px;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.button_ghost_reverse a {
    color: #ffffff;
    text-decoration-line: none;
}

.paragraph_reverse {
    color: #ffffff;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 1rem;
}

.home-contact-intro-container {
    display: flex;
    gap: 96px;
    margin-bottom: 32px;
    align-items: center;
}

.home-contact-intro-title {
    font-size: 48px;
    line-height: 56px;
    color: #ffffff;
}

.home-contact-intro-content {
    display: flex;
    gap: 24px;
}

.home-contact-cta-container {
    display: flex;
    gap: 96px;
}

.home-contact-cta-buttons {
    display: flex;
    gap: 8px;
}


@media screen and (max-width: 768px) {
    .home-contact-intro-container {
        flex-direction: column;
        gap: 0;
    }

    .home-contact-intro-content {
        flex-direction: column;
        gap: 0;
    }

    .home-contact-cta-container {
        flex-direction: column;
        gap: 1.6rem;
    }

    .home-contact-cta-buttons {
        flex-direction: column;
    }
}

/* **************************************** */
/* ARTICLE                                  */
/* **************************************** */

.article-h1 {
    color: #202124;
    font-size: 3rem;
    line-height: 1;
    font-weight: normal;
    margin-top: 48px;
    margin-bottom: 16px;
    text-align: center;
}

.article-h2 {
    color: #202124;
    font-size: 2rem;
    line-height: 1;
    font-weight: normal;
    margin-bottom: 16px;
    margin-top: 4rem;
}

.article-h3 {
    color: #202124;
    font-size: 1rem;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 2rem;
}

.article-p {
    color: #5f6368;
    margin-bottom: 16px;
    font-size: 1rem;
    line-height: 1.5;
}

.article-ul {
    padding-left: 32px;
    margin-bottom: 16px;
}

.article-ol {
    padding-left: 32px;
    margin-bottom: 16px;
}

.article-li {
    color: #5f6368;
    margin-bottom: 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
}

.article-img {
    width: 100%;
    height: 480px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
}

.article-date {
    color: #5f6368;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.article-author {
    color: #5f6368;
    margin-bottom: 2rem;
    font-size: 0.75rem;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.article-table {
    border-collapse: collapse;
    width: 100%;
}

.article-table th,
.article-table td {
    border: 1px solid #000;
    padding: 6px 8px;
    text-align: left;
}





/* TABS */

.tabs {
    max-width: 800px;
    font-family: Arial, sans-serif;
}

/* Hide radios */
.tabs input[type="radio"] {
    display: none;
}

/* Tab labels */
.tab-labels {
    display: flex;
    border-bottom: 1px solid #ddd;
}

.tab-labels label {
    padding: 12px 20px;
    cursor: pointer;
    font-weight: 600;
    color: #888;
    border-bottom: 2px solid transparent;
}


/* Content */
.tab-content .content {
    display: none;
    padding: 20px 0;
}

/* Block 0 */
#tabs0-a:checked~.tab-labels label[for="tabs0-a"],
#tabs0-b:checked~.tab-labels label[for="tabs0-b"] {
    color: #000;
    border-bottom-color: #000;
}

#tabs0-a:checked~.tab-content .a,
#tabs0-b:checked~.tab-content .b {
    display: block;
}

/* Block 1 */
#tabs1-a:checked~.tab-labels label[for="tabs1-a"],
#tabs1-b:checked~.tab-labels label[for="tabs1-b"] {
    color: #000;
    border-bottom-color: #000;
}

#tabs1-a:checked~.tab-content .a,
#tabs1-b:checked~.tab-content .b {
    display: block;
}

/* Block 2 */
#tabs2-a:checked~.tab-labels label[for="tabs2-a"],
#tabs2-b:checked~.tab-labels label[for="tabs2-b"] {
    color: #000;
    border-bottom-color: #000;
}

#tabs2-a:checked~.tab-content .a,
#tabs2-b:checked~.tab-content .b {
    display: block;
}

/* Block 3 */
#tabs3-a:checked~.tab-labels label[for="tabs3-a"],
#tabs3-b:checked~.tab-labels label[for="tabs3-b"] {
    color: #000;
    border-bottom-color: #000;
}

#tabs3-a:checked~.tab-content .a,
#tabs3-b:checked~.tab-content .b {
    display: block;
}